mixin header
  header.header
  include ../data/navigation
    section.header-contact
      .wrapper
        p.header-time Open time: 8:00 - 18:00 Monday - Sunday
        .header-function
          a(href="#")
            span
              +icon('fa-solid','fa-user')
            |  Đăng nhập
          a(href="#")
            span
              +icon('fa-solid','fa-user-plus')
            |  Đăng ký
    section.header-main
      .wrapper 
        .header-logo
          .header-logo--primary
            img(src='../assets/GreenShop.png' alt='header logo')
            p Món quà từ thiên nhiên
          
            
          .header-logo--secondary
            img(src='../assets/header-secondary.png' alt='header logo')
        .header-info 
          p
            span
              i.fa-solid.fa-phone 
            | Hỗ trợ :  (04) 6674 2332 - (04) 3786 8904
          .header-info__function
            .header-info__form
              form
                input(type='text' placeholder='Tìm kiếm')
                button(type='submit')
                  i.fa-solid.fa-magnifying-glass
            .header-info__cart
              a(href='./cartPage.html')
                span
                  i.fa-solid.fa-cart-arrow-down
                | 0 Sản phẩm 
    nav.header-nav
    
      .wrapper
        label(for='toggle').header-nav--toggle  
          span
            i.fa-solid.fa-bars
        
        input(type="checkbox", name="",id='toggle',class='nav-toggle' hidden)
        ul.header-nav__list--pc
          each i in navList
            +navLink(i.name, 'header-nav__link', i.link)
        ul.header-nav__list--mobile
          each i in navList
            +navLink(i.name, 'header-nav__link', i.link) 
          label.header-nav__list--mobile-close(for='toggle')
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 320 512')
              // ! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc.
              path(d='M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z')

        .header-nav__function
          ul
            li
              +navLink('','header-nav__link')
                +icon('fa-solid','fa-magnifying-glass')
            li
              +navLink('','header-nav__link','./cartPage.html')
                +icon('fa-solid','fa-cart-arrow-down')
