extends ../layouts/tab

block tabLabel1
  p thông tin sản phẩm
block tabLabel2
  p khách hàng đánh giá
block tabContent1
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi consequuntur, at officia voluptas nemo repellendus, recusandae cum porro qui consectetur assumenda mollitia quas quae ipsam. Veniam reiciendis eveniet eius.
block tabContent2
  p Khách hàng đánh giá
