extends ../layouts/defaultLayout
include ../layouts/sidebar
block title
  title Products
block main
 
  .wrapper
      +breadCums('Danh mục sản phẩm')
      .productPage       
        +sidebar('general') 
        .productPage-detail
          .productPage-banner
            img(src='./assets/banner-11140x217.png' alt='banner')
          .productPage-tab
            include ../partial/productCategoriesTab        
          +pagination
