include ../data/product.pug

.tabs
  input#tab1.tabs__radio(type='radio' name='tabs-example' checked='')
  label.tabs__label(for='tab1')
    block tabLabel1    
  .tabs__content
    block tabContent1
  input#tab2.tabs__radio(type='radio' name='tabs-example')
  label.tabs__label(for='tab2')
    block tabLabel2   
  .tabs__content
    block tabContent2
