.signup {
  &__title {
    @include customFont(
      $size: 1.6rem,
      $fontFamily: $secondary-font,
      $color: $primary,
      $weight: 600
    );
  }

  .grid {
    margin: 2rem 0;
    gap: 2rem;

    .form {
      &__label::after {
        content: '*';
        color: $secondary;
        padding-left: 0.5rem;
      }
    }
  }

  &__block {
    margin: 2rem 0;
  }

  &__buttons {
    @include flex($justify: flex-start, $align: center, $gap: 2rem);
  }
}
