- const navList = [{name: 'trang chủ', link: './index.html'},{name: 'giới thiệu', link: './index.html'},{name: 'sản phẩm', link: './productCategories.html'},{name: 'sản phẩm mới', link: './specificProduct.html'},{name: 'tin tức', link: './news.html'},{name: 'liên hệ', link: './contact.html'},];
