- 
  const productList = [
    {name: 'cây chân chim',price: '250.000đ',image:'./assets/spx2-1.png',status:'NEW',type:'big-product-1'},{name: 'cây danh dự',price: '850.000đ',image:'./assets/spx2-3.png',status:'-50%'},{name: 'cây dạ lam',price: '500.000đ',image:'./assets/spx2-2.png',status:'NEW'},{name: 'cây chân chim',price: '250.000đ',image:'./assets/spx2-1.png',status:'NEW'},{name: 'cây chân chim',price: '250.000đ',image:'./assets/spx2-1.png',status:'NEW'},{name: 'cây đa búp đỏ',price: '1000.000đ',image:'./assets/spx2-4.png',status:'-50%',type:'big-product-2'}
  ];
