- const tags = [ "Cây văn phòng", "Cây phát lộc", "Cây xanh", "Cây trang trí", "Cây", "Plants", "Sức khoẻ", "Quà tặng", "Lưu niệm"];

- 
  const news = [
    { img: './assets/spx2-1.png', title: 'Hướng dẫn và lựa chọn bố trí cây xanh trong phòng khách'},
    { img: './assets/spx2-2.png', title: 'Những sai lầm nên tránh khi bố trí cây xanh trong nhà'},
    { img: './assets/spx2-3.png', title: '7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng'},
    { img: './assets/spx2-4.png', title: 'Hướng dẫn lựa chọn cây cảnh bố trí trong văn phòng'},

  ];
