@import '../base/variables';
@import '../base/mixins';

.horizontal-Product {
  @include flex($justify: flex-start, $align: center, $gap: 2rem);
  padding: 2rem;
  margin-block: 2rem;
  border: 1px solid $light-gray;
  transition: all 0.5s linear;
  &-img {
    flex: 1;
  }
  &-detail {
    flex: 2;
  }
  &-name {
    font-size: 1.4rem;
    font-family: $primary-font;
    text-transform: capitalize;
    font-weight: 500;
    color: $primary;
  }
  &-rate {
    span {
      color: $rating;
    }
  }
  &-price {
    color: $secondary;
    font-weight: 500;
    padding-top: 0.5rem;
  }
  &-desc {
    font-size: 1.4rem;
    padding-block: 1rem 2rem;
  }
  &-price {
    font-size: 1.4rem;
  }

  &-buy {
    padding: 1rem 4rem;
    font-size: 1.4rem;
    background-color: $primary;
    color: $white;
    border-radius: 2rem;
    margin-right: 1rem;
  }
  &-search,
  &-favor {
    padding: 2rem;
    border-radius: 50%;
    background-color: $white;
    margin-inline: 1rem;
  }
  &:hover {
    cursor: pointer;
    background-color: $light-gray;
    backdrop-filter: opacity(50%);
  }
}
