.pagination {
  padding: 2rem 0;
  @include flex($gap: 1rem, $justify: flex-end, $align: center);

  li {
    list-style: none;
    padding: 1rem;
    border: 1px solid $light-gray;
    @include hoverTransition($white, $primary);
  }

  @include respond-to('mobile-and-down') {
    justify-content: center;
  }
}
