$primary: #3fb871;
$primary-darker: #36a66d;
$dark: #313131;
$dark-lighter: #bdc3c7;
$light-gray: #ecf0f1;
$secondary: #ed1c24;
$secondary-darker: #d64146;
$header-font: 'Poppins', sans-serif;
$primary-font: 'Roboto', sans-serif;
$regular-size: 1.3rem;
$white: #fff;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;
