@import '../base/mixins';
@import '../base/variables';
.sidebar {
  &-list {
    padding-block: 2rem;
    padding-left: 1.5rem;
    &--item {
      @include hoverTransition($primary, '');
      list-style-type: '\27A3';
      font-size: $regular-size;
      padding-block: 0.5rem;
      padding-left: 1rem;
      font-weight: 500;

      color: $dark;
      border-bottom: 1px solid $light-gray;
    }
  }
  &-priceList {
    @extend .productPage-list;

    &--item {
      @extend .productPage-list--item;
    }
    padding-bottom: 2rem;
  }
  &-color {
    padding-top: 2rem;
    padding-left: 1.5rem;

    @include flex(
      $wrap: wrap,
      $gap: 1rem,
      $justify: flex-start,
      $align: flex-start
    );
    .color-display {
      @include flex($gap: 0.5rem, $justify: flex-start, $align: center);
      padding: 0.5rem;
      border-radius: 0.5rem;

      .dot {
        height: 2.5rem;
        width: 2.5rem;

        border-radius: 50%;
        display: inline-block;
      }
      @include hoverTransition('', $light-gray);
    }
  }

  .tags {
    @include flex(
      $wrap: wrap,
      $gap: 1rem,
      $justify: flex-start,
      $align: flex-start
    );
    padding-left: 0;
    padding-top: 1rem;

    &__tag {
      @include hoverTransition($white, $primary);
      list-style-type: none;
      border: 1px solid $dark-lighter;
      padding: 1rem 1.25rem;
      a {
        @include customFont(
          $size: 1.3rem,
          $fontFamily: $secondary-font,
          $color: $dark-lighter
        );
        text-decoration: none;

        @include hoverTransition($white, '');
      }
    }
  }
}

@include respond-to('tablet-and-down') {
  .sidebar {
    .tags {
      gap: 0.5rem;

      &__tag {
        padding: 0.5rem 0.75rem;
      }
    }
  }
}

@include respond-to('mobile-and-down') {
  .sidebar {
    display: block;
    &-list {
      padding-left: 0.5rem;

      @include flex(
        $wrap: wrap,
        $gap: 1rem,
        $justify: flex-start,
        $align: flex-start
      );
      &--item {
        list-style-type: none;
      }
    }
  }
}
